
body {
  height:100%;
  color: #000000;
  background-color: #D9D9D9;
  font-family: Verdana;
  min-width: 600pt;
  text-align: justify;
}

a {
  color: #000000;
}

div.vertical-line {
  /*border-left: 2px solid black;*/
  height: 100%;
  margin-left: 290pt;
}




#line {
  border-left: 1px solid black;
  color: #000000;
  height: 100%;
  min-height: 100%;
}

#left {
  position: fixed;
  font-size: 20pt;
  height: 95%;
  width: 240px;
  margin-left: 50pt;
  display: table;
  table-layout: fixed;
  border-right: 2px solid
;  border-color: #98777B;
  border-top: 1%
}

#left a{
  margin: 1px;
  text-align: center;
  text-decoration: none;
  font-variant: small-caps;
  display: inline-block;
  width: 240px;

}

#left a:hover{
  cursor:pointer;
}

h1.header {
  margin-left: 25px;
}

h2 {
  border-bottom: 1px solid black;
}


#body {
  margin-left: 25px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  max-width: 700pt;
}

section.about {
  margin-top: 50pt;
  margin-bottom: 50pt;
}


#dari-body {
  margin-top: 25px;
  max-width: 900pt;
}

div.left-nav {
  margin-top: 90%;
  margin-left: -20pt;
  position: relative;
}

img {
  margin-top: 10pt;
  margin-bottom: 10pt;
  margin-right: 46pt;
}

ul {
  margin-left: -15pt;
}


strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  background-color: #E8E8EE;
}


div.a{
  position: relative;
}

div.code {
  background-color: #E8E8EE;
  max-width: 400pt;
}

