
body {
  height:100%;
  color: #000000;
  background-color: #E5DBCF;
}

a {
  color: #000000;
}

div.vertical-line {
  border-left: 2px solid black;
  height: 98%;
  margin-left: 290pt;
  position: fixed;
}

#line {
  border-left: 1px solid black;
  color: #000000;
  height: 100%;
  min-height: 100%;
}

#left {
  position: fixed;
  float: left;
  top: 0px;
  font-size: 20pt;
  height: 200px;
  width: 240px;
  margin-top: 180pt;
  margin-left: 50pt;
  display: table;
}

#left a{
  margin: 1px;
  text-align: center;
  text-decoration: none;
  font-variant: small-caps;
  display: block;
  width: 240px;
}

#left a:hover{
  cursor:pointer;
}

h1.header {
  font-variant: small-caps;
  margin-left: 50px;
}


#body {
  margin-left: 50px;
  margin-top: 60px;
}


strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

